.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* height: 100%;
    width: 100%; */
}
.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  /* height: 100%;
    width: 100%; */
}
.flex-container > div {
  width: 48%;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
}

.printBtn {
  margin-left: auto;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(75, 75, 235);
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
.flex-container-point{
  width: 98%;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
}
.header-background-color{
  color: #40A3D4;
}
#myProgress {
  display: inline-block;
  width: 100px;
  background-color: #ddd;
}

#myBar{
  height: 15px;
    margin:5px;
    background: 
      linear-gradient(-45deg,
        rgba(255, 255, 255, 0.15) 105%, 
         rgba(255, 255, 255, 0.15) 145%, 
        rgba(255, 255, 255, 0.15) 175%) 
      left/30px 30px repeat-x,
      linear-gradient(to right, red 0%, yellow 35px, green 70px) left/var(--p,100%) fixed,
      lightgray;
}

#myBar::before {
  width: 34%;
  height: 20px;
  background-image: linear-gradient(to right, red , yellow);

}

.MuiDataGrid-columnHeaderTitle {
  text-transform: capitalize;
  color: rgb(110, 159, 255);
}

.MuiDataGrid-sortIcon {
  color: rgb(110, 159, 255);
}
